*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header img {
    width: 80px;
}

#header .nav-item .text-platzi {
    color: #97c93e;
}

#footer {
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

#footer a {
    color: #fff;
}