*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-y: auto;
}

#header img {
    width: 80px;
}

#header .nav-item .text-platzi {
    color: #97c93e;
}

.main .carousel-inner img{
    max-height: 80vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel {
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, alpha0.5);
    color: #fff;
}

#carousel .overlay .container-fluid ,
#carousel .overlay .row {
    height: 100%;
}

.btn-platzi {
    background:  #97c93e;
    color: #fff;
}

.btn-platzi:hover {
    background:  #82ad36;
    color: #fff;
}

#speakers .card .photoCard {
    height: 300px;
    object-fit: cover;
}

#speakers .card .card-text {
    height: 150px;
    overflow-y: auto;
}

#speakers .card .socialM img{
    width: 20px;
}

#footer {
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

#footer a {
    color: #fff;
}